@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
.containerIndex{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}
.formInd{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        top: 200px;
}
.glases{
    height: 450px;
    width: 100px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 0.5s ease;
    margin: 10px
}

.glases:hover{
    height: 500px;
    width: 400px;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    opacity: 1;
    animation: ani 2.5s forwards;
    position: relative;
    width: 50px;
    height: 50px;
}

@keyframes ani {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.num{
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
}

.glases:hover .h1{
    display: none;
}
.text{
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
}
.ulText{
    display: none;
    font-family: "Roboto Condensed", sans-serif;
    opacity: 0;
    animation: aniTextUl 2.5s forwards;
}
@keyframes aniTextUl {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.glases:hover .ulText{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: flex-start;
}
.lastPrice{
    margin-left: 10px;
    text-decoration: line-through;
    color: #B5B8B1;
}
.newPrice{
    color: #be0000;
}
.morePrice{
    font-family: "Roboto Slab", serif;
}
.priceText{
    top: 40px;
}
.pluses{
    top: 40px;
}