@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap');
.containerIndex{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;

}

.indexText{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 120px;
    user-select: none;
}

.spanIndex{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Roboto Slab", serif;
    user-select: none;
    position: relative;
}
.firstImages{
    height: 400px;
    display: flex;
    justify-content: center;
}
.img{
    border: 4px #646464 solid;
    height: 400px;
}
.images{
    color: #fff;
    width: 1200px;
    position: relative;
}

.imgInImgIndex{
    width: 1000px;
    height: 400px;
    display: none;
}