@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap');
.containerIndex{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;

}

.indexText{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 120px;
    user-select: none;
}

.spanIndex{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Roboto Slab", serif;
    user-select: none;
}
.firstImages{
    height: 400px;
    display: flex;
    justify-content: center;
}
.img{
    border: 4px #fff solid;
    height: 400px;
}
.images{
    color: #fff;
    width: 1200px;
    position: relative;
}
.go{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
     margin: -15px;
}
.back{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    right: 0;
    margin: -15px;

}
.backGO{
    width: 30px;
    height: 35px;
    background: #707070;
    padding: 10px;
}
.imgBtn{
    background: none;
}
.imgBtn:hover{
    background: #2c2c2c;
}