.textLogin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.regTextLog{
    display: flex;
    justify-content: center;
}
.textUrlReg{
    color: #006fff;
}