@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.news{
    color: white;
    display: flex;
    flex-direction: column;

}
.message{
    width: 1200px;
    height: 150px;
    background: -webkit-linear-gradient(90deg, #454545,#212121);
    background: linear-gradient(90deg, #454545,#212121);
    border-radius: 20px;
    margin: 10px;
}
.new2{
    margin: 10px;
    font-size: 26px;
    font-family: "Noto Sans", sans-serif;
}
.new{
    margin: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.new3{
    display: flex;
    justify-content: flex-end;
}
.delMessage{
    display: flex;
    justify-content: flex-end;
}
.delMes{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5b5b5b;
    color: #cecece;
    width: 150px;
    border-radius: 10px;
    font-family: "Bebas Neue", sans-serif;
}