.bgCart{
    background: -webkit-linear-gradient(90deg, #454545,#212121);
    background: linear-gradient(90deg, #454545,#212121);
    width: 300px;
    height: 470px;
    border-radius: 30px;
    margin: 15px;
    transition: width 0.4s ease;
}
.bgCart:hover{
    width: 310px;
}

.formInd{
    display: flex;
    margin-top: 100px;
}
.textPrice{
    color: #fff;
}

.titlePrice, .descPrice, .pricePrice, .lastPricePrice{
    display: flex;
    justify-content: center;
    padding: 33px;
    font-size: 30px;
}
.forbasket{
    display: flex;
    justify-content: center;
}
.pricePrice{
    color: #ff0000;
    position: relative;
    top: 60px;
}
.lastPricePrice{
    color: #454545;
    text-decoration: line-through;
}


.createPrice{
    background: none;
}
.btnPrice{
    display: flex;
    justify-content: center;
}
.loginToBuy{
    display: flex;
    justify-content: center;
}

.empty{
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
}