.priceGlases{
    width: 300px;
    height: 450px;
    position: relative;
    top: -150px;
}
.priceGlases:hover{
    width: 300px;
    height: 450px;
}
.delCart{
    position: relative;
    top: 310px;
}
.BtnBasket{
    position: relative;
    top: 200px;

}
.textPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titlePrice{
    padding-top: 10px;
    font-size: 36px;
}
.descPrice{
    padding-top: 60px;
    font-size: 30px;
}
.pricePrice{
    padding-top: 150px;
    color: red;
    font-size: 26px;
}
.lasPricePrice{
    padding-top: 10px;
}
.BtnBasket{
    position: relative;
    top: -1px;
}
.adminBtn{
    display: flex;
    flex-direction: column;
    width: 400px;
}