.createCart{
    position: absolute;
    display: flex;
    top: 500px;
}
.delCart{
    position: absolute;
    display: flex;
    top: 400px;
}
.glCreate{
    height: 500px;
}
.glCreate:hover{
    height: 550px;
}
.priceGlass{
    width: 350px;
    height: 380px;
}
.priceGlass:hover{
    width: 370px;
    height: 400px;

}
.textPrice{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
}
.titlePrice{
    font-size: 36px;
    transition: font-size 0.5s ease;
    position: relative;
    top: 20px;
}
.priceGlass:hover .titlePrice{
    font-size: 45px;
}
.descPrice{
    font-size: 25px;
    position: relative;
    top: 40px;
    transition: font-size 0.5s ease;
}
.priceGlass:hover .descPrice{
    font-size: 30px;
}
.pricePrice{
    position: relative;
    font-size: 20px;
    top: 150px;
    transition: font-size 0.5s ease;
}
.ltPrPrice{
    position: relative;
    font-size: 15px;
    top: 160px;
}
.priceGlass:hover .pricePrice{
    font-size: 25px;
}
.empty{
    display: flex;
    justify-content: center;
    font-size: 72px;
    font-family: "Roboto Slab", serif;
    position: relative;
    top: 100px;
    color: #2c2c2c;
}
.basket{
    position: relative;
    top: 170px;
}