.regTextAndBtn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.file input{
    display: none;
}
.btnFile{
    display: flex;
    justify-content: center;
}
